ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

FLOWCAST_IMAGE=registry.yourdomain.com/flowcast:latest

POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD

Identity__ConnectionString=Host=db;Port=5432;Database=Flowcast;Username=postgres;Password=CHANGE_ME_STRONG_PASSWORD
PlayerProgress__ConnectionString=Host=db;Port=5432;Database=Flowcast;Username=postgres;Password=CHANGE_ME_STRONG_PASSWORD
Shop__ConnectionString=Host=db;Port=5432;Database=Flowcast;Username=postgres;Password=CHANGE_ME_STRONG_PASSWORD

Identity__TokenOptions__Issuer=https://api.yourdomain.com
Identity__TokenOptions__Audience=flowcast-game
Identity__TokenOptions__AccessTokenExpiryMinutes=15
Identity__TokenOptions__RefreshTokenExpiryDays=30

Database__Provider=Postgres

Serilog__WriteTo__1__Args__ServerUrl=http://seq:5341

Cors__AllowedOrigins__0=http://localhost:4200
Cors__AllowedOrigins__1=https://cms.kingkodegames.ir
